{% extends "base.html" %} {% load static %} {% block content %}
<div class="container">
  <div class="d-flex gap-4 fw-semibold">
    <a href="#" class="text-decoration-none text-black">Mentoring Aktif</a>
    <a href="#" class="text-decoration-none" style="color: #667085">Histori</a>
  </div>

  <div class="mt-4 row">
    <div class="d-flex flex-column col-lg-4 gap-4">
      <div style="width: 295px; height: 170px">
        <img
          src="{% static 'assets/images/photo4.jpg' %}"
          alt="Avatar"
          class="rounded-top-3 object-fit-cover"
          style="width: 295px; height: 92px"
        />
        <div class="p-3 rounded-bottom-3 shadow-sm">
          <p class="fw-semibold">Web Development dengan Laravel</p>
          <p>Pending</p>
        </div>
      </div>
      <div style="width: 295px; height: 170px">
        <img
          src="{% static 'assets/images/photo4.jpg' %}"
          alt="Avatar"
          class="rounded-top-3 object-fit-cover"
          style="width: 295px; height: 92px"
        />
        <div class="p-3 rounded-bottom-3 shadow-sm">
          <p class="fw-semibold">UI UX Design</p>
          <p>Mei - Juli 2024</p>
        </div>
      </div>
    </div>
    <div class="col-lg-8">Kanan</div>
  </div>
</div>

{% endblock %} {% block footer %} {% endblock %}
