{% load static %}
<div class="navbar-top">
  <div class="logo">
    <img src="{% static 'assets/images/logo.png' %}" alt="Logo Carimentor" />
    <p class="text-md-semibold text--brand-secondary">Sobat Mentor</p>
  </div>
  <div class="nav-fitur">
    <a
      href="{% url 'beranda' %}"
      class="navbar-link text-md-reguler text--primary active"
      >Home</a
    >
    <a
      href="{% url 'carimentor' %}"
      class="navbar-link text-md-reguler text--primary"
      >Cari Mentor</a
    >
    <a href="carikelas" class="navbar-link text-md-reguler text--primary"
      >Cari Kelas</a
    >
    <a href="jadimentor" class="navbar-link text-md-reguler text--primary"
      >Jadi Mentor</a
    >
  </div>
  {% if pengguna %}
  <div class="nav-profil">
    <a href="profil" class="button-link text-md-medium text--primary"
      ><img src="{% static 'assets/icons/user.svg' %}" class="me-2" />Hai, {{ pengguna.nama }}</a
    >
  </div>
  {% else %}
  <div class="nav-auth">
    <a
      href="{% url 'login' %}"
      class="button-link text-md-medium text--white bg--brand-solid"
      >Sign In</a
    >
    <a
      href="{% url 'register' %}"
      class="button-link text-md-medium text--brand-primary"
      >Sign Up</a
    >
  </div>
  {% endif %}
</div>
